---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - oasis.oasis.nearbycomputing
  resources:
  - carlaappplacements
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oasis.oasis.nearbycomputing
  resources:
  - carlaappplacements/finalizers
  verbs:
  - update
- apiGroups:
  - oasis.oasis.nearbycomputing
  resources:
  - carlaappplacements/status
  verbs:
  - get
  - patch
  - update
