resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  newName: registry.nearbycomputing.com/apps/inno/oasis-kafka-notifier-operator
  newTag: 0.0.1
